@font-face {
   font-family: 'Catalunya demo';
   font-display: swap;
   src: url('Catalunya demo/font.ttf');
}
@font-face {
   font-family: 'Nikolas & Pine';
   font-display: swap;
   src: url('Nikolas & Pine/font.ttf');
}
